@import "../node_modules/ol/ol.css";

.sidebar-checkbox {
  padding-left: 8%;
}

h3 {
  font-size: 30px;
}

.title {
  font-size: 40px;
}


html, body {
  margin: 0;
  height: 100%;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

#loader-overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  margin: 30px; 
  right: 20px;
  width: 100px;
  height: 100px;
  top: 20px;
  z-index: 1000;
  text-align: center;
  border-radius: 20%;
}

#loader-cont {
  width: 100px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: auto;
}